# Copyright (c) Datalayer, Inc. https://datalayer.io
# Distributed under the terms of the MIT License.

# Check with git check-ignore -v **/*

# Exclude
.yarn
node_modules
yarn.lock
# git ignored path are ignored by lerna
# @see https://github.com/lerna/lerna/issues/3416
# packages/*

# Include
!**/.*ignore
!**/.*rc
!**/.*rc.js
!**/.*rc.json
!**/.*rc.yml
!**/.*config
!*.*rc.json
!**/.env
!.github
!.devcontainer
!./packages/README.md